<div class="grid">
  <div class="flex justify-between mb-5 mt-5">
    <h1 class="text-2xl font-bold my-auto">Dashboard</h1>
  </div>

  <!-- <app-loading /> -->
  <div class="container">
    <div class="flex flex-row justify-between">
      <h6 class="text-xl mt-3 mb-5">Bienvenido a la App de Taller de Desarrollo Seguro</h6>
    </div>
    <div class="flex flex-row">
      <div class="col-3 pr-3">
        <h6 class="text-xl mb-1 text-center">Vamos a encontrar vulnerabilidades</h6>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg table-height scrollbar-a">
          <table class="w-full text-sm text-left rtl:text-right bg-[rgb(142,180,212)]">
            <thead class="sticky text-xs text-white uppercase" style="background-color: #124001;">
              <tr>
                <th scope="col" class="px-6 py-3">
                  <small>--</small>
                </th>
                <th scope="col" class="px-6 py-3">
                  <small>Nombre vulns</small>
                </th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
